<% include partials/tempheader.ejs %>
<h2>You have been registered! This meetup event has now been added to your schedule. Please sign out and log back in to
    refresh your account.</h2>
</div>
</body>

</html>